#filters {
    padding: 5px;
}

#filters label, #filters input {
    display: block;
}

#filters input[type="submit"] {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 5px;
    border: 1px solid black;
    background-color: burlywood;
}

.product {
    display: flex;
    border: 1px solid #eee;
    padding: 5px;
}

.product-img a {
    display: block;
    width: 200px;
    height: 200px;
}

.product-img img {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid #eee;
    padding: 5px;
}

.product-name {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.product-name:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.pagination button,
.pagination span {
    display: inline-block;
}

.pagination button {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 5px;
}

.pagination button:hover {
    cursor: pointer;
}

.product-actions {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.product-actions i {
    display: block;
}

.product-actions i:hover {
    cursor: pointer;
}

.is_liked {
    color: rgb(240, 58, 58);
}

.is_in_cart {
    color: burlywood;
}