{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'ecommerce/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/all.min.css' %}">

    <!-- Vue JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
        {% include './navbar.html' %}
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'ecommerce/js/app.js' %}"></script>
</body>
</html>