{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="home">
    <main>
        <div class="left">
            {% include './categories-links.html' %}
        </div>
        <div class="right">
            <div class="home-categories">
                <h1>MOST SOLD PRODUCTS</h1>
                {% for category in categories %}
                <div class="home-category">
                    <h2><a href="#">{{ category.name }}</a></h2>
                    <div class="home-products">
                        {% for product in category.get_most_sold_products %}
                        <div class="home-product">
                            <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                            <div class="home-product-img">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>
                            <div class="home-product-details">
                                <div class="home-product-price">
                                    {{ product.price }}
                                </div>
                                <div class="home-product-sold">
                                    sold {{ product.sold }} times
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock content %}