<nav>
    <div>
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'shop' %}">SHOP</a></li>
        </ul>
    </div>
    <div>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'likes' %}"><i class="fas fa-heart"></i>(<span v-html="likes.products_count"></span>)</a></li>
            <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>(<span v-html="cart.items_count"></span>)</a></li>
            <li><a href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'signin' %}">LOGIN</a></li>
            {% endif %}
        </ul>
    </div>
</nav>