{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="cart">
    <main>
        <div class="left">
            {% include './categories-links.html' %}
        </div>
        <div class="right">
            <h2><span v-html="profile.username"></span>'s Profile</h2>
            <div v-if="profile.user_profile">
                <div @click="showPostProduct" id="add_product_button">ADD PRODUCT</div>
                <form 
                    method="POST" 
                    action="{% url 'post_product' %}" 
                    class="post_product" 
                    id="post_product"
                    enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    <input type="hidden" name="seller_id" value="{{ user.profile.id }}">
                    {{ form }}
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="products">
                <h2>Products</h2>
                <div v-for="product in profile.products">
                    <div  v-if="!product.delete" class="product">
                        <div class="product-img">
                            <a :href="product.url">
                                <img :src="product.image" :alt="product.name">
                            </a>
                        </div>
                        <div class="product-details">
                            <p><a :href="product.url" v-html="product.name" class="product-name"></a></p>
                            <p class="product-price">Price: <span v-html="product.price"></span></p>
                            <p class="product-rating">Rating: <span v-html="product.rating"></span></p>
                            <p v-html="product.description" class="product-description"></p>
                        </div>
                        <div v-if="profile.user_profile" class="cart-item-quantity">
                            <p>quantity</p>
                            <input 
                                type="number"  
                                min="0"
                                v-model:value="product.available">
                        </div>
                        <div v-if="profile.user_profile" class="cart-item-delete">
                            <button @click="deleteProfileProduct(product)">Delete</button>
                        </div>
                    </div>
                </div>
                <div v-if="profile.user_profile" class="update-cart">
                    <button @click="updateProfile">Update Profile</button>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}