{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="shop">
    <main>
        <div class="left">
            {% include './categories-links.html' %}
            <div class="filters">
                <form id="filters" method="GET">
                    {% if subcategory %}
                    <input type="hidden" name="subcategory__name" value="{{ subcategory.name }}">
                    {% endif %}
                    <label for="price">Maximum Price = <span v-html="maximumPrice"></span></label>
                    <input v-model:value="maximumPrice" type="range" name="price__lte" max="10000" step="100" id="price">
                    <input @click.prevent="submitFilters" type="submit" value="Filter">
                </form>
            </div>
        </div>
        <div class="right">
            <h2>{{ subcategory.name }}</h2>
            <div class="pagination">
                <table>
                    <tr>
                        <td>
                            <button v-if="page.has_previous" @click=getPreviousPage>&lt;</button>
                        </td>
                        <td>
                            <span v-html="page.page"></span>
                        </td>
                        <td>
                            <button v-if="page.has_next" @click="getNextPage">&gt;</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="products">
                <div  v-for="product in page.products" class="product">
                    <div class="product-img">
                        <a :href="product.url">
                            <img :src="product.image" :alt="product.name">
                        </a>
                    </div>
                    <div class="product-details">
                        <p><a :href="product.url" v-html="product.name" class="product-name"></a></p>
                        <p class="product-price">Price: <span v-html="product.price"></span></p>
                        <p class="product-rating">Rating: <span v-html="product.rating"></span></p>
                        <p v-html="product.description" class="product-description"></p>
                        <div v-if="product.is_authenticated" class="product-actions">
                            <p><i @click="addToLikes(product)" class="fas fa-heart" :class="{ is_liked: product.is_liked }"></i></p>
                            <p><i @click="addToCart(product)" class="fas fa-cart-plus" :class="{ is_in_cart: product.is_in_cart}"></i></p>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button v-if="page.has_previous" @click=getPreviousPage>&lt;</button>
                    <span v-html="page.page"></span>
                    <button v-if="page.has_next" @click="getNextPage">&gt;</button>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}